<div id="url-index-div">
  <h1>URL SHORTENER</h1>

  <div data-controller="url">

    <div id="url-list-div">
      <% Url.all.each do |url| %>
        <div class="url-div" data-url-target="urlDiv">
          <p data-url-target="originalUrl"
            data-shortVersionUrl=<%= url.short_version %>
            data-createdAt=<%= url.created_at %>
            data-originalUrl=<%= url.original %> 
            key=<%= url.id %> class="url-original-divs"
          >
            <%= url.short_version %>
          <p>
          <div class="button-div">
            <button data-action="url#redirect">Redirect</button> 
            <button id="see-more-btn" data-action="url#showDetails">see more</button>
          </div>
        </div>
      <% end %>
    </div>

    <div id="create-url-form-div" >
      <form data-action="url#submitForm" accept-charset="UTF-8" method="post">
        <input data-url-target="original" type="text" name="url[original]" id="url_original" class="">
        <input type="submit" name="commit" value="Create Url">
      </form>
    </div>
  </div>
</div>

